<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>

    <nav class="navbar">
        <div class="navbar-left">
            <a href="#" class="navbar-brand">StudEasy
            </a>
        </div>
        <div class="navbar-right">
            <a href="" class="navbar-link active">Home</a>
            <a href="./about" class="navbar-link">About</a>
        </div>
    </nav>

    <div class="container">
        <div class="navbar2">
          <a href="./notegen" class="nav-button">Note Generator</a>
          <a href="./testgen" class="nav-button">Test Generator</a>
          <a href="./docsummarizer" class="nav-button">Document Summarizer</a>
          <a href="./syllabusinfo" class="nav-button">Syllabus Info</a>
        </div>
      </div>

    <script>
        const navbarLinks = document.getElementsByClassName("navbar-link");
        for (let i = 0; i < navbarLinks.length; i++) {
            navbarLinks[i].addEventListener("click", function() {
                const currentLink = document.getElementsByClassName("active");
                if (currentLink.length > 0) {
                    currentLink[0].className = currentLink[0].className.replace(" active", "");
                }
                this.className += " active";
            });
        }
    </script>
</body>
</html>